:root{
    --c92-bg-main:#dddddd;
    --c92-bg-nav:#29b1dd;
}


body{
    background-color: var(--c92-bg-main);
}
header{
    background-color: white;
}
h1{
    color: var(--c92-bg-nav);
}

nav{
    background-color: var(--c92-bg-nav);

}

.c92Cursor{
    cursor: pointer;
}

.c92-boxShadow{
    box-shadow: 0rem 0rem .5rem grey;
}